<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>headscale - Windows</title>
    <style>
      body {
        margin: 40px auto;
        max-width: 800px;
        line-height: 1.5;
        font-size: 16px;
        color: #444;
        padding: 0 10px;
        font-family: Sans-serif;
      }
      h1,
      h2,
      h3 {
        line-height: 1.2;
      }
    </style>
  </head>

  <body>
    <h1>headscale: Windows configuration</h1>
    <p>
      Download
      <a
        href="https://tailscale.com/download/windows"
        rel="noreferrer noopener"
        target="_blank"
        >Tailscale for Windows</a
      >
      and install it.
    </p>

    <p>
      Open a Command Prompt or Powershell and use Tailscale's login command to
      connect with headscale:
    </p>
    <pre><code>tailscale login --login-server {{.URL}}</code></pre>
  </body>
</html>
