<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>headscale</h1>
    <h2>Recent Tailscale versions (1.34.0 and higher)</h2>
    <p>
      Tailscale added Fast User Switching in version 1.34 and you can now use
      the new login command to connect to one or more headscale (and Tailscale)
      servers. The previously used profiles does not have an effect anymore.
    </p>
    <h3>Command line</h3>
    <p>Use Tailscale's login command to add your profile:</p>
    <pre><code>tailscale login --login-server {{.URL}}</code></pre>

    <h3>GUI</h3>
    <ol>
      <li>
        ALT + Click the Tailscale icon in the menu and hover over the Debug menu
      </li>
      <li>Under "Custom Login Server", select "Add Account..."</li>
      <li>
        Enter "{{.URL}}" of the headscale instance and press "Add Account"
      </li>
      <li>Follow the login procedure in the browser</li>
    </ol>

    <h2>Apple configuration profiles (1.32.0 and lower)</h2>
    <p>
      This page provides
      <a href="https://support.apple.com/guide/mdm/mdm-overview-mdmbf9e668/web">
        configuration profiles
      </a>
      for the official Tailscale clients for
    </p>
    <ul>
      <li>
        <a href="https://apps.apple.com/us/app/tailscale/id1470499037?ls=1"
          >iOS</a
        >
      </li>
      <li>
        <a href="https://apps.apple.com/ca/app/tailscale/id1475387142?mt=12"
          >macOS - AppStore Client</a
        >.
      </li>
      <li>
        <a href="https://pkgs.tailscale.com/stable/#macos"
          >macOS - Standalone Client</a
        >.
      </li>
    </ul>
    <p>
      The profiles will configure Tailscale.app to use <code>{{.URL}}</code> as
      its control server.
    </p>

    <h3>Caution</h3>
    <p>
      You should always download and inspect the profile before installing it:
    </p>
    <!--
		<pre><code>curl {{.URL}}/apple/ios</code></pre>
		-->
    <ul>
      <li>
        for app store client:
        <code>curl {{.URL}}/apple/macos-app-store</code>
      </li>
      <li>
        for standalone client:
        <code>curl {{.URL}}/apple/macos-standalone</code>
      </li>
    </ul>

    <h2>Profiles</h2>

    <!--
		<h3>iOS</h3>
		<p>
		    <a href="/apple/ios" download="headscale_ios.mobileconfig">iOS profile</a>
		</p>
		-->

    <h3>macOS</h3>
    <p>
      Headscale can be set to the default server by installing a Headscale
      configuration profile:
    </p>
    <p>
      <a href="/apple/macos-app-store" download="headscale_macos.mobileconfig"
        >macOS AppStore profile</a
      >
      <a href="/apple/macos-standalone" download="headscale_macos.mobileconfig"
        >macOS Standalone profile</a
      >
    </p>

    <ol>
      <li>
        Download the profile, then open it. When it has been opened, there
        should be a notification that a profile can be installed
      </li>
      <li>Open System Preferences and go to "Profiles"</li>
      <li>Find and install the Headscale profile</li>
      <li>Restart Tailscale.app and log in</li>
    </ol>

    <p>Or</p>
    <p>
      Use your terminal to configure the default setting for Tailscale by
      issuing:
    </p>
    <ul>
      <li>
        for app store client:
        <code>defaults write io.tailscale.ipn.macos ControlURL {{.URL}}</code>
      </li>
      <li>
        for standalone client:
        <code>defaults write io.tailscale.ipn.macsys ControlURL {{.URL}}</code>
      </li>
    </ul>

    <p>Restart Tailscale.app and log in.</p>
  </body>
</html>
