<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>headscale</h1>
    <h2>Recent Tailscale versions (1.34.0 and higher)</h2>
    <p>
      Tailscale added Fast User Switching in version 1.34 and you can now use
      the new login command to connect to one or more headscale (and Tailscale)
      servers. The previously used profiles does not have an effect anymore.
    </p>
    <p>Use Tailscale's login command to add your profile:</p>
    <pre><code>tailscale login --login-server {{.URL}}</code></pre>

    <h2>Windows registry configuration (1.32.0 and lower)</h2>
    <p>
      This page provides Windows registry information for the official Windows
      Tailscale client.
    </p>

    <p></p>
    <p>
      The registry file will configure Tailscale to use <code>{{.URL}}</code> as
      its control server.
    </p>

    <p></p>
    <h3>Caution</h3>
    <p>
      You should always download and inspect the registry file before installing
      it:
    </p>
    <pre><code>curl {{.URL}}/windows/tailscale.reg</code></pre>

    <h2>Installation</h2>
    <p>
      Headscale can be set to the default server by running the registry file:
    </p>

    <p>
      <a href="/windows/tailscale.reg" download="tailscale.reg"
        >Windows registry file</a
      >
    </p>

    <ol>
      <li>Download the registry file, then run it</li>
      <li>Follow the prompts</li>
      <li>Install and run the official windows Tailscale client</li>
      <li>
        When the installation has finished, start Tailscale, and log in by
        clicking the icon in the system tray
      </li>
    </ol>
    <p>Or</p>
    <p>
      Open command prompt with Administrator rights. Issue the following
      commands to add the required registry entries:
    </p>
    <pre>
    <code>REG ADD "HKLM\Software\Tailscale IPN" /v UnattendedMode /t REG_SZ /d always
      REG ADD "HKLM\Software\Tailscale IPN" /v LoginURL /t REG_SZ /d "{{.URL}}"</code>
  </pre>
    <p>Restart Tailscale and log in.</p>

    <p></p>
  </body>
</html>
