name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.16.3"

      - name: Install dependencies
        run: |
          go version
          go install golang.org/x/lint/golint@latest
          sudo apt update
          sudo apt install -y make

      - name: Run lint
        run: make build

      - uses: actions/upload-artifact@v2
        with:
          name: headscale-linux
          path: headscale