---
name: CI

on: [push, pull_request]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.1
        with:
          files: |
            *.nix
            go.*
            **/*.go
            integration_test/
            config-example.yaml

      - name: golangci-lint
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.46.1

          # Only block PRs on new problems.
          # If this is not enabled, we will end up having PRs
          # blocked because new linters has appared and other
          # parts of the code is affected.
          only-new-issues: true

  prettier-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.1
        with:
          files: |
            *.nix
            **/*.md
            **/*.yml
            **/*.yaml
            **/*.ts
            **/*.js
            **/*.sass
            **/*.css
            **/*.scss
            **/*.html

      - name: Prettify code
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: creyD/prettier_action@v4.0
        with:
          prettier_options: >-
            --check **/*.{ts,js,md,yaml,yml,sass,css,scss,html}
          only_changed: false
          dry: true

  proto-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bufbuild/buf-setup-action@v0.7.0
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "proto"
