---
name: CI

on: [push, pull_request]

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.1
        with:
          files: |
            *.nix
            go.*
            **/*.go
            integration_test/
            config-example.yaml

      - uses: cachix/install-nix-action@v16
        if: steps.changed-files.outputs.any_changed == 'true'

      - name: Run Integration tests
        if: steps.changed-files.outputs.any_changed == 'true'
        run: nix develop --command -- golangci-lint run --timeout 10m

  prettier-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v14.1
        with:
          files: |
            *.nix
            **/*.md
            **/*.yml
            **/*.yaml
            **/*.ts
            **/*.js
            **/*.sass
            **/*.css
            **/*.scss
            **/*.html

      - uses: cachix/install-nix-action@v16
        if: steps.changed-files.outputs.any_changed == 'true'

      - name: Run Integration tests
        if: steps.changed-files.outputs.any_changed == 'true'
        run: nix develop --command -- prettier --check '**/**.{ts,js,md,yaml,yml,sass,css,scss,html}'

  proto-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bufbuild/buf-setup-action@v0.7.0
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: "proto"
